name: Unit Tests
on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        go: [ "1.25", "1.26" ]

    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{matrix.go}}

      - name: Lint and Test
        uses: choria-io/actions/lint_and_test/go@main
        with:
          ginkgo: "v2"
